  .clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clients-list__item {
    height: 92px;
    width: 170px;

    &:not(:last-child) {
        margin-right: 30px;
      }
  }
  
  
  
  .clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100%;
    width: 100%;
  
    border: 1px solid $soc-media-bg;
    border-radius: 4px;
  
    transition: border $transitionsProperty;

    &:hover,
    &:focus {
    border: 1px solid $accent-color;
  }
  }
  
  
  .clients-list__icon {
    fill: $soc-media-bg;
    transition: fill $transitionsProperty;

    .clients-list__link:hover &,
    .clients-list__link:focus & {
    fill: $accent-color;
  }
  }
  
  