.section--bgc {
  background-color: $our-team-bgc;
}

.our-team-list {
  display: flex;
}

.our-team-list__item {
  background-color: $body-bgc;

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}


.our-team-list__card {
  padding: 30px 0;
}

.our-team-list__title {
  margin-bottom: 10px;

  color: $title-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.our-team-list__text {
  margin-bottom: 16px;
}

/* soc-media */

.social-media-list {
  display: flex;
  justify-content: center;
}
.social-media-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-media-list__link {
  fill: $soc-media-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: $function-time;

  &:hover,
  &:focus {
  background-color: $accent-color;
  fill: $body-bgc;
}
}


