.section-slogans {
    padding: 94px 0;
  }

  .slogans-list {
    display: flex;
  }
  
  .slogans-list__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .slogans-list__icon-area {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  
    background-color: $our-team-bgc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slogans-list__icon {
    width: 70px;
    height: 70px;
  }
  
  .slogans-list__title {
    margin-bottom: 10px;
  
    color: $title-color;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .slogans-list__text {
    width: 270px;
  }