.section-what-doing {
    padding: 0 0 94px 0;
  }
  .biggest-title {
    margin-bottom: 50px;
    text-align: center;
  
    color: $title-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
  
  .work-process-list {
    display: flex;
    
  }
 
  .work-process-list__item {
    z-index: 1;
    display: block;
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
  }
}
  .work-process-list__signature {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
  
    background-color: $doing-sugnature;
    color: $body-bgc;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }