
    // colors
    $primary-text-color: #757575;
    $title-color: #212121;
    $accent-color: #2196f3;
    $accent-hover-col: #188ce8;
    $accent-opac: #2196f3e6;
    $logo-color: #000000;
    $hero-bgc: #c4c4c4;
    $hero-overlay: #2f303a66;
    $foot-bgc: #2f303a;
    $body-bgc: #ffffff;
    $our-team-bgc: #f5f4fa;
    $footer-contacts: #ffffff99;
    $header-bgc: #ececec;
    $border-col: #eeeeee;
    $soc-media-bg: #afb1b8;
    $foot-soc-media-bgc: #ffffff1a;
    $doing-sugnature: rgba(47, 48, 58, 0.8);
    $backdrop-color: rgba(0, 0, 0, 0.2);
  
// others

    $function-time: cubic-bezier(0.4, 0, 0.2, 1);
    $transitionsProperty: 250ms $function-time;